<h2>Add new station</h2>
<!-- <p>
  To add a new station, edit the values in the JSON.  <br>
  You have to at least change ID, latitude and longitude. <br>
  For more info about stations, visit <a href="https://github.com/ocpi/ocpi/blob/master/mod_locations.md#3-object-description">here</a>.
</p>
<textarea [(ngModel)]='modalInfo'></textarea> -->
<p>Test</p>

<div>1
  <p>Adding charging stations to the S&C Network</p>
  <div>
    <button>Upload JSON File</button>
    <button>Pull Data from Backend</button>
    <button>Manually add single station</button>
  </div>
</div>

<div>2
  <p>Adding charging stations to the S&C Network</p>
  <div>
    <button>Use saved data</button>
    <button>Add new</button>
  </div>
</div>

<div>3
  <p>Station name & ID</p>
  <p>How do you want to name your station? This name will appear in the S&C TestApp as title of the station.
  </p>
  <input type="text">
  <p>What ioptionals the ID of your station in your backend? This field is, if you don‘t have an ID.
  </p>
  <input type="text">

  <p>Address</p>
  <p>Where is the station located?</p>
  <input type="text">
  <input type="text">
  <input type="text">
  <input type="text">

</div>

<!--
<div>4
  <p>Adding charging stations to the S&C Network</p>
  <div>
    <button>Use saved data</button>
    <button>Add new</button>
  </div>
</div>


<div>5
  <p>Adding charging stations to the S&C Network</p>
  <div>
    <button>Use saved data</button>
    <button>Add new</button>
  </div>
</div>


<div>6
  <p>Adding charging stations to the S&C Network</p>
  <div>
    <button>Use saved data</button>
    <button>Add new</button>
  </div>
</div>


<div>7
  <p>Adding charging stations to the S&C Network</p>
  <div>
    <button>Use saved data</button>
    <button>Add new</button>
  </div>
</div>


<div>8
  <p>Adding charging stations to the S&C Network</p>
  <div>
    <button>Use saved data</button>
    <button>Add new</button>
  </div>
</div>

 -->

