<block-ui>
    <header class="c-page-head">
        <div class="o-page-wrap">
            <div class="c-page-head__inner">

                <a class="c-brand-logo c-brand-logo--large-screen">
                    <img src="../assets/img/motionwerk_logo-1.png">
                  </a>

                <a class="c-brand-logo c-brand-logo--small-screen">
                    <img src="../assets/img/motionwerk_logo-1.png">
                </a>

                <ul class="c-page-head-nav">
                    <li class="c-page-head-nav__item">
                        <a [routerLink] = "['stations']" class="c-page-head-nav__link" [routerLinkActive]="'is-active'">
                            <span class="c-page-head-nav__link-text u-hide@s">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>Stations</span>
                              </span>
                        </a>
                    </li>
                    <li class="c-page-head-nav__item">
                        <a [routerLink] = "['payment']" class="c-page-head-nav__link" [routerLinkActive]="'is-active'">
                            <span class="c-page-head-nav__link-text u-hide@xs">
                                <i class="far fa-money-bill-alt"></i>
                                <span>Payment</span>
                            </span>
                        </a>
                    </li>
                    <li class="c-page-head-nav__item">
                        <a [routerLink] = "['account']" class="c-page-head-nav__link" [routerLinkActive]="'is-active'">
                            <span class="c-page-head-nav__link-text u-hide@xs">
                                <i class="fas fa-user"></i>
                                <span>Account</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="main-wrapper o-page-wrap">
        <router-outlet></router-outlet>
    </div>

    <footer *ngIf="router.url !== '/register'">
      <div class="o-page-wrap">
        <p>{{accountInfo.name}}</p>
        <p>{{accountInfo.address_1}} <span *ngIf="accountInfo.address_1">,</span> {{accountInfo.address_2}} {{accountInfo.postcode}}</p>
        <p>{{accountInfo.postcode}} {{accountInfo.town}}</p>
        <img src="../../assets/img/share-and-charge.png" class="motionwerk-logo--footer">
      </div>
    </footer>

    <toaster-container [toasterconfig]="toasterConfig"></toaster-container>
</block-ui>

