<h2 class="page-title">Payment</h2>

<div class="payment-page">

  <div class="payment-wallet-wrapper">
    <!-- <div class="sub-title">
      <i class="fas fa-wallet"></i>
      <span>My Wallet</span>
    </div> -->
    <div class="payment-wallet__inner">

      <div class="sub-title">
          <i class="fas fa-wallet"></i>
          <span>My Wallet</span>
        </div>
        <div class="section-row header">
            <span class="name">Name</span>
            <span class="transactions">Transactions</span>
            <span class="balance">Tokens</span>
        </div>
      <div *ngFor="let paymentWalletItem of paymentWallet; let i = index;"
            class="section-row" (click)="getPaymentWalletHistory(i)">
            <span class="name">{{paymentWalletItem.msp_name}}</span>
            <span class="transactions">{{paymentWalletItem.total_transactions}} Transactions</span>
            <span class="balance">{{paymentWalletItem.amount}} {{paymentWalletItem.currency}}</span>
      </div>
      <div class="sub-title" *ngIf="paymentWalletPending.length !== 0">
          <i class="fas fa-wallet"></i>
          <span>Pending</span>
        </div>
        <div class="section-row header" *ngIf="paymentWalletPending.length !== 0">
            <span class="name">Name</span>
            <span class="transactions">Transactions</span>
            <span class="balance">Tokens</span>
        </div>
      <div *ngFor="let paymentWalletItem of paymentWalletPending; let i = index;"
            class="section-row" (click)="getPaymentWalletHistory(i)">
            <span class="name">{{paymentWalletItem.msp_name}}</span>
            <span class="transactions">{{paymentWalletItem.total_transactions}} Transactions</span>
            <span class="balance">{{paymentWalletItem.amount}} {{paymentWalletItem.currency}}</span>
      </div>

      <div class="sub-title" *ngIf="paymentWalletCompleted.length !== 0">
        <i class="fas fa-wallet"></i>
        <span>Completed</span>
      </div>
      <div class="section-row header" *ngIf="paymentWalletCompleted.length !== 0">
          <span class="name">Name</span>
          <span class="transactions">Transactions</span>
          <span class="balance">Tokens</span>
      </div>
      <div *ngFor="let paymentWalletItem of paymentWalletCompleted; let i = index;"
            class="section-row" (click)="getPaymentWalletHistory(i)">
            <span class="name">{{paymentWalletItem.msp_name}}</span>
            <span class="transactions">{{paymentWalletItem.total_transactions}} Transactions</span>
            <span class="balance">{{paymentWalletItem.amount}} {{paymentWalletItem.currency}}</span>
      </div>

    </div>
  </div>

  <div class="payment-wallet-detail-wrapper" *ngIf="paymentWalletHistory.length !== 0">
    <div class="sub-title">
      <i class="fas fa-file-alt"></i>
      <span>Charge Data Record</span>
    </div>
    <div class="payment-wallet-detail__inner">

      <div *ngFor="let paymentWalletHistoryItem of paymentWalletHistory; let i = index;"
            class="section-row">
            <div>
              <span class="bold">Start date: </span>
              <span>{{paymentWalletHistoryItem.start | date:'medium' }}</span>
            </div>
            <div>
              <span class="bold">End date: </span>
              <span>{{paymentWalletHistoryItem.end | date:'medium' }}</span>
            </div>
            <div>
              <span class="bold">Station: </span>
              <span>{{paymentWalletHistoryItem.evseId}}</span>
            </div>
            <div>
              <span class="bold">Driver S&C Address: </span>
              <span>{{paymentWalletHistoryItem.scId}}</span>
            </div>
            <div>
              <span class="bold">Tariff: </span>
              <span>{{paymentWalletHistoryItem.tariff}}</span>
            </div>
            <div>
              <span class="bold">Total cost: </span>
              <span>{{paymentWalletHistoryItem.finalPrice}} {{paymentWalletHistoryItem.currency}}</span>
            </div>
            <div>
              <span class="bold">Total energy: </span>
              <span></span>
            </div>
            <div>
              <span class="bold">Total time: </span>
              <span>{{calculateTotalTime(paymentWalletHistoryItem.start, paymentWalletHistoryItem.end)}}</span>
            </div>
            <div>
              <span class="transaction-details">
                <a href="{{blockchainUrl}}{{paymentWalletHistoryItem.transactionHash}}" target="_blank">
                    Transaction details
                </a>
              </span>
            </div>



            <!-- <div>
              <span class="bold">Controller: </span>
              <span>{{paymentWalletHistoryItem.controller}}</span>
            </div>
            <div>
              <span class="bold">token contract: </span>
              <span>{{paymentWalletHistoryItem.tokenContract}}</span>
            </div>
            <div>
              <span class="bold">Transaction hash: </span>
              <span>{{paymentWalletHistoryItem.transactionHash}}</span>
            </div> -->
      </div>
    </div>
    <div class="payment-wallet-detail__action-buttons">

        <button class="sc-button white" (click)="createReimbursement()" *ngIf="!showReinbursementButtons">
            <span>Create Reimbursemnt</span>
          </button>
        <button class="sc-button white" *ngIf="showReinbursementButtons">
          <i class="fas fa-thumbs-up"></i>
          <span>Payment Recieved</span>
        </button>
        <button class="sc-button white" *ngIf="showReinbursementButtons">
            <i class="fas fa-file-alt"></i>
            <span>Invoice</span>
        </button>
        <button class="sc-button white" *ngIf="showReinbursementButtons">
          <i class="fas fa-download"></i>
          <span>Download</span>
        </button>
    </div>
  </div>

</div>
