<h2 class="page-title clickable" [ngClass]="{'active': tabIndex === 0}" (click)="tabIndex = 0; closeAllLists()">
    <span class="tab">Stations</span>
</h2>
<h2 class="page-title clickable" [ngClass]="{'active': tabIndex === 1}" (click)="tabIndex = 1; closeAllLists()">
  <span class="tab">Tariffs</span>
</h2>

<!-- <h2 class="page-title">Stations</h2> -->

<div class="stations-container-wrapper">

  <div *ngIf="tabIndex === 0">
    <div *ngFor="let station of stations; let i = index;" class="stations-container">
      <span (click)="getEvses(i)" class="station-row">{{station.data.name}}, {{station.data.address}}</span>
      <div class="evse-container-wrapper" *ngIf="showEvses && selectedEvseIndex === i">
        <div class="station-header">
          <span class="name">
            <i class="fas fa-chevron-left" (click)="showEvses = false"></i>
            {{station.data.name}}
          </span>
          <span class="actions">
            <i class="fas fa-pencil-alt" (click)="updateStationDialog()"></i>
            <i class="fas fa-trash-alt" (click)="deleteStationDialog()"></i>
          </span>
        </div>
        <div class="sub-title">Evses</div>
        <div *ngFor="let evse of selectedEvse; let a = index;" [hidden]="selectedEvseIndex !== i" class="evse-container">
          <span (click)="getConnectors(a)" class="station-row"><span class="evse-id">{{evse.evse_id}}</span><span class="evse-status">{{evse.status}}</span></span>
          <div class="connectors-container-wrapper" *ngIf="showConnectors && selectedConnectorsIndex === a">
              <div class="station-header">
                  <span class="name">
                      <i class="fas fa-chevron-left" (click)="showConnectors = false"></i>
                      {{evse.evse_id}}
                    </span>
                </div>
                <div class="sub-title">Connectors</div>
            <div *ngFor="let connector of connectors; let u = index;" [hidden]="selectedConnectorsIndex !== a" class="connectors-container">
              <span class="station-row not-clickable">
                <span class="power-type">
                  <i class="fas fa-plug"></i>
                  {{connector.power_type}},
                </span>

                <span class="power-standard" *ngIf="connector.standard === 'IEC_62196_T1'">Type 1,</span>
                <span class="power-standard" *ngIf="connector.standard === 'IEC_62196_T1_COMBO'">CHAdeMo,</span>
                <span class="power-standard" *ngIf="connector.standard === 'IEC_62196_T2'">Type 2,</span>
                <span class="power-standard" *ngIf="connector.standard === 'IEC_62196_T2_COMBO'">CCS,</span>
                <span class="power-standard" *ngIf="connector.standard === 'TESLA_S'">TESLA,</span>
                <span class="power-standard" *ngIf="connector.standard !== 'IEC_62196_T1' &&
                                                    connector.standard !== 'IEC_62196_T1_COMBO' &&
                                                    connector.standard !== 'IEC_62196_T2' &&
                                                    connector.standard !== 'IEC_62196_T2_COMBO' &&
                                                    connector.standard !== 'TESLA_S'">
                  {{connector.standard}},
                </span>
                <span class="power-voltage">{{(connector.voltage * connector.amperage)/1000}} kW,</span>
                <span class="power-tariff-id">{{connector.tariff_id}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="tabIndex === 1">
      <div *ngFor="let tariff of tariffs; let i = index;" class="stations-container">
          <span (click)="getTariff(i)" class="station-row">
              <span class="evse-id">ID {{tariff.id}}</span>
              <span class="evse-status">{{tariff.currency}}</span>
          </span>
          <div class="evse-container-wrapper" *ngIf="showTariffs && selectedTariffIndex === i">
            <div class="station-header">
              <span class="name">
                <i class="fas fa-chevron-left" (click)="showTariffs = false"></i>
                ID {{tariff.id}}
              </span>
              <span class="actions">
                <i class="fas fa-pencil-alt" (click)="updateTariffDialog()"></i>
                <i class="fas fa-trash-alt" (click)="deleteTariffDialog()"></i>
              </span>
            </div>
            <div class="sub-title">Tariff details</div>
            <div class="evse-container">
                <div class="station-row tariff-detail-row preformat">
                    {{tariffDetail}}
                </div>
            </div>
          </div>
        </div>
  </div>

  <div class="stations-buttons" [ngClass]="{'tariff-active': tabIndex === 1}">
    <button class="sc-button white" (click)="showStationModal = true" *ngIf="tabIndex === 0">
        + Add new station
    </button>
    <!-- <button class="sc-button white" (click)="addTariffDialog()" *ngIf="tabIndex === 1">
      + Update tariff
    </button> -->
  </div>
</div>

<div class="stations-overlay" *ngIf="showStationModal" (click)="closeAllLists(); getTariffs()"></div>
<div *ngIf="showStationModal">
    <div class="modal-backdrop fade show"></div>
    <div  class="add-stations-modal show">
        <div  class="modal-dialog modal-dialog-centered">
            <div  class="modal-content">
                <div  class="modal-header">
                  <h4  class="modal-title">Add Station</h4>
                </div>
                <div class="modal-body">



                    <div *ngIf="formStep === 'selection'">
                        <h2 class="modal-step-headline">Adding charging stations to the S&C Network</h2>
                        <div class="modal-content-buttons">
                          <button class="sc-button" (click)="formStep = 'uploadJsonFile'; uploadJsonFile()">Upload JSON</button>
                          <button class="sc-button" (click)="formStep = 'pullDataFromBackend'" disabled>Pull Data from Backend</button>
                          <button class="sc-button" (click)="formStep = 'addingStations'">Add single station</button>
                        </div>
                      </div>

                      <div *ngIf="formStep === 'addingStations'">
                        <h2 class="modal-step-headline">Adding charging stations to the S&C Network</h2>
                        <div class="modal-content-buttons">
                          <button *ngIf="newStation" class="sc-button" (click)="formStep = 'stationBaseInfo'; useSavedData()"
                              [disabled]="!newStation.name">Use saved data</button>
                          <button class="sc-button" (click)="formStep = 'stationBaseInfo'; addNewData()">Add new</button>
                        </div>
                      </div>

                      <div *ngIf="formStep === 'stationBaseInfo'">
                        <h2 class="modal-step-headline">Station name, ID, type and location</h2>

                        <form #stationsInfo="ngForm" (ngSubmit)="onStationsInfoSubmit()">
                          <p>How do you want to name your station? This name will appear in the S&C TestApp as title of the station.</p>
                          <div class="sc-input-wrapper">
                            <input type='text' [(ngModel)]="newStation.name" name="stationName" #stationName="ngModel" required placeholder="Station Name" class="sc-input">
                          </div>

                          <p>What is the ID of your station in your backend? This field is optional, if you don‘t have an ID.
                          </p>
                          <div class="sc-input-wrapper">
                            <input type='text' [(ngModel)]="newStation.id" name="stationId" #stationId="ngModel" placeholder="Station Id" class="sc-input">
                          </div>

                          <p>What is the type of your station?</p>
                          <div class="sc-input-wrapper">
                            <select class="sc-input-100" [(ngModel)]="newStation.type" name="stationType" #stationType="ngModel" required>
                              <option value="" selected disabled>Station type</option>
                              <option value="ON_STREET">On Street</option>
                              <option value="PARKING_GARAGE">Parking Garage</option>
                              <option value="UNDERGROUND_GARAGE">Underground Garage</option>
                              <option value="PARKING_LOT">Parking Lot</option>
                              <option value="OTHER">Other</option>
                              <option value="UNKNOWN">Unknown</option>
                            </select>
                          </div>

                          <p>Where is the station located?</p>
                          <div class="sc-input-wrapper">
                            <input type='text' [(ngModel)]="newStation.address" name="stationAddress" #stationAddress="ngModel" required placeholder="Address" class="sc-input-50">
                            <input type='text' [(ngModel)]="newStation.city" name="stationCity" #stationCity="ngModel" required placeholder="City" class="sc-input-50">
                            <input type='text' [(ngModel)]="newStation.postalCode" name="stationPostalCode" #stationPostalCode="ngModel" required placeholder="Postal Code" class="sc-input-50">
                            <select name="stationCountry" [(ngModel)]="newStation.country" #stationCountry="ngModel" required class="sc-input-50">
                                <option value="" selected disabled>Select Country</option>
                                <option value="eng">England</option>
                                <option value="deu">Germany</option>
                                <option value="fra">France</option>
                                <option value="ita">Italy</option>
                                <option value="nld">Nederlands</option>
                                <option value="fin">Finland</option>
                                <option value="sve">Sweden</option>
                                <option value="nor">Norway</option>
                                <option value="jpn">Japan</option>
                                <option value="zho">China</option>
                                <option value="cze">Czech Republic</option>
                                <option value="dan">Denmark</option>
                                <option value="spa">Spain</option>
                            </select>
                            <input type='text' [(ngModel)]="newStation.latitude" name="stationLatitude" #stationLatitude="ngModel" required maxlength="9" placeholder="Latitude" class="sc-input-50">
                            <input type='text' [(ngModel)]="newStation.longitude" name="stationLongitude" #stationLongitude="ngModel" required maxlength="9" placeholder="Longitude" class="sc-input-50">
                          </div>

                          <div class="modal-steps" >
                            <button class="sc-button modal-button modal-button-success" (click)="previousStep()">Previous </button>
                            <button class="sc-button modal-button modal-button-success" type="submit" [disabled]="!stationsInfo.form.valid">Next</button>
                          </div>
                        </form>

                      </div>

                      <div *ngIf="formStep === 'stationDescriptions'">
                        <h2 class="modal-step-headline">Directions</h2>

                        <p>This field allows you to add human-readable directions on how to reach the location or other
                          instructions. This is displayed in the Share&Charge Whitelabel App. This field is optional.</p>
                        
                          <div *ngFor="let direction of newStation.directions; index as i; let first = first; let last = last" class="relative">
                              <select name="stationLanguage" [(ngModel)]="direction.language">
                                <option value="" selected disabled>Select Language</option>
                                <option value="en">English</option>
                                <option value="de">German</option>
                                <option value="fr">French</option>
                                <option value="it">Italian</option>
                                <option value="nl">Dutch</option>
                                <option value="fi">Finnish</option>
                                <option value="sv">Swedish</option>
                                <option value="no">Norwegian</option>
                                <option value="ja">Japanese</option>
                                <option value="zh">Chinese</option>
                                <option value="cs">Czech</option>
                                <option value="da">Danish</option>
                                <option value="es">Spanish</option>
                              </select>
                              <textarea name="stationDescription" placeholder="Description" [(ngModel)]="direction.text"></textarea>

                            </div>
                        <button class="sc-button" (click)="addLanguageItem()">Add more directions</button>
                        <button class="sc-button" *ngIf="newStation.directions.length > 1" (click)="deleteLanguageItem()">Delete Last Description</button>

                        <div class="modal-steps">
                          <button class="sc-button modal-button modal-button-success" (click)="previousStep()">Previous </button>
                          <button class="sc-button modal-button modal-button-success" (click)="nextStep()">Next</button>
                        </div>

                      </div>

                      <div *ngIf="formStep === 'openingHoursQuestion'">
                        <h2 class="modal-step-headline">Opening Hours</h2>
                        <p>The times when the EVSEs at the location can be accessed for charging.</p>
                        <p>Is the charging station available 24 hours, 7 days a week?</p>
                        <select [(ngModel)]="hoursQuestion" name="stationHoursQuestion" #stationHoursQuestion="ngModel" required>
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                        </select>

                        <div class="modal-steps" >
                            <button class="sc-button modal-button modal-button-success" (click)="previousStep()">Previous </button>
                            <button class="sc-button modal-button modal-button-success" (click)="nextStep()">Next</button>
                          </div>
                      </div>

                      <div *ngIf="formStep === 'openingHoursSelection'">
                        <h2 class="modal-step-headline">The times when the EVSEs at the location can be accessed for charging.</h2>
                        
                        <form #openingHoursSelection="ngForm" (ngSubmit)="onOpeningHoursSubmit()">
                          <div class="opening-hours-wrapper">
                              <p class="form-label">Monday</p>
                              <div class="sc-input-wrapper">
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[0].period_begin" name="openingHoursMondayBegin" #openingHoursMondayBegin="ngModel" required>
                                  <option value="" selected disabled>Select time</option>
                                  <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                    {{hour}}
                                  </option>
                                </select>
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[0].period_end" name="openingHoursMondayEnd" #openingHoursMondayBegin="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                              </div>
                          </div>
                          <div class="opening-hours-wrapper">
                              <p class="form-label">Tuesday</p>
                              <div class="sc-input-wrapper">
                                  <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[1].period_begin" name="openingHoursTuesdayBegin" #openingHoursTuesdayBegin="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[1].period_end" name="openingHoursTuesdayEnd" #openingHoursTuesdayEnd="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                              </div>
                          </div>
                          <div class="opening-hours-wrapper">
                              <p class="form-label">Wednesday</p>
                              <div class="sc-input-wrapper">
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[2].period_begin" name="openingHoursWednesdayBegin" #openingHoursWednesdayBegin="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[2].period_end" name="openingHoursWednesdayEnd" #openingHoursWednesdayEnd="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                              </div>
                          </div>
                          <div class="opening-hours-wrapper">
                              <p class="form-label">Thursday</p>
                              <div class="sc-input-wrapper">
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[3].period_begin" name="openingHoursThursdayBegin" #openingHoursThursdayBegin="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[3].period_end" name="openingHoursThursdayEnd" #openingHoursThursdayEnd="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                              </div>
                          </div>
                          <div class="opening-hours-wrapper">
                              <p class="form-label">Friday</p>
                              <div class="sc-input-wrapper">
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[4].period_begin" name="openingHoursFridayBegin" #openingHoursFridayBegin="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[4].period_end" name="openingHoursFridayEnd" #openingHoursFridayBegin="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                              </div>
                          </div>
                          <div class="opening-hours-wrapper">
                              <p class="form-label">Saturday</p>
                              <div class="sc-input-wrapper">
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[5].period_begin" name="openingHoursSaturdayBegin" #openingHoursSaturdayBegin="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[5].period_end" name="openingHoursSaturdayEnd" #openingHoursSaturdayBegin="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                              </div>
                          </div>
                          <div class="opening-hours-wrapper">
                              <p class="form-label">Sunday</p>
                              <div class="sc-input-wrapper">
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[6].period_begin" name="openingHoursSundayBegin" #openingHoursSundayBegin="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                                <select  [(ngModel)]="openingHoursObject.opening_times.regular_hours[6].period_end" name="openingHoursSundayEnd" #openingHoursSundayEnd="ngModel" required>
                                    <option value="" selected disabled>Select time</option>
                                    <option *ngFor="let hour of openingHours; index as i;" [value]="hour">
                                      {{hour}}
                                    </option>
                                </select>
                              </div>
                          </div>

                        <div class="modal-steps" >
                          <button class="sc-button modal-button modal-button-success" (click)="previousStep()">Previous </button>
                          <button class="sc-button modal-button modal-button-success" type="submit" [disabled]="!openingHoursSelection.form.valid">Next</button>
                        </div>
                      </form>
                      </div>

                      <div *ngIf="formStep === 'evsesAndConnectors'">
                        <h2 class="modal-step-headline">EVSEs and Connectors</h2>
                        <p>An EVSE describes the part that controls the power supply to a single EV in a single session. <br>
                          A connector is the socket or cable available for the EV to use.
                          A single EVSE may provide multiple connectors but only one of them can be in use at the same time.  <br>
                          Please make sure that the UID matches the UID in your backend, as this is the 'technical' identification of the EVSE.  <br>
                          Otherwise the Share&Charge protocol is not able to control your charging station. The EVSE ID optional.
                        </p>

                        <div>
                          <div class="new-station-evses-wrapper">
                            <div *ngFor="let evse of evsesObject.evses; index as i; let last = last" class="new-station-evse relative">
                              <p class="form-label">EVSE</p>
                              <div class="sc-input-wrapper">
                                <input [(ngModel)]="evsesObject.evses[i].evse_id" type="text" placeholder="EVSE ID"  name="evseId" #evseId="ngModel" required class="sc-input-33">
                                <input [(ngModel)]="evsesObject.evses[i].uid" type="text" placeholder="EVSE UID"  name="evseUid" #evseUid="ngModel" required class="sc-input-33">
                                <select class="sc-input-33" [(ngModel)]="evsesObject.evses[i].status" name="evseStatus" #evseStatus="ngModel" required>
                                  <option value="" selected disabled>Set status</option>
                                  <option value="AVAILABLE">Available</option>
                                  <option value="BLOCKED">Blocked</option>
                                  <option value="CHARGING">Charging</option>
                                  <option value="INOPERATIVE">Inoperative</option>
                                  <option value="OUTOFORDER">Out of order</option>
                                  <option value="PLANNED">Planned</option>
                                  <option value="REMOVED">Removed</option>
                                  <option value="RESERVED">Reserved</option>
                                  <option value="UNKNOWN">Unknown</option>
                                </select>
                              </div>
                              <p class="form-label">Connectors</p>
                              <div *ngFor="let connector of evse.connectors; index as a; let last = last" class="relative">
                                <div class="sc-input-wrapper">
                                  <input [(ngModel)]="connector.id" type="text" placeholder="Connector ID" name="connectorId" #connectorId="ngModel" required class="sc-input-33">
                                  <select class="sc-input-33" [(ngModel)]="connector.standard" name="evseStandard" #evseStandard="ngModel" required>
                                    <option value="" selected disabled>Connector type</option>
                                    <option value="IEC_62196_T1">IEC_62196_T1</option>
                                    <option value="IEC_62196_T2">IEC_62196_T2</option>
                                    <option value="IEC_62196_T2_COMBO">IEC_62196_T2_COMBO</option>
                                    <option value="CHADEMO">CHADEMO</option>
                                  </select>
                                  <select class="sc-input-33" [(ngModel)]="connector.power_type" name="evsePowerType" #evsePowerType="ngModel" required>
                                      <option value="" selected disabled>Power type</option>
                                      <option value="AC_1_PHASE">AC_1_PHASE</option>
                                      <option value="AC_3_PHASE">AC_3_PHASE</option>
                                      <option value="DC">DC</option>
                                  </select>
                                </div>
                                <div class="sc-input-wrapper">
                                    <select class="sc-input-33" [(ngModel)]="connector.format" name="connectorFormat" #connectorFormat="ngModel" required>
                                      <option value="" selected disabled>Connector format</option>
                                      <option value="SOCKET">Socket</option>
                                      <option value="CABLE">Cable</option>
                                    </select>
                                    <input [(ngModel)]="connector.voltage" type="number" placeholder="Voltage" pattern="^[0-9]\d*$" name="connectorVoltage" #connectorVoltage="ngModel" required class="sc-input-33">
                                    <input [(ngModel)]="connector.amperage" type="number" placeholder="Amperage" pattern="^[0-9]\d*$" name="connectorAmperage" #connectorAmperage="ngModel" required class="sc-input-33">
                                  </div>
                              </div>
                              <br>
                              <button class="sc-button" type="button" (click)="addConnector(i)">Add more Connectors</button>
                              <button class="sc-button" (click)="deleteConnector(i)" *ngIf="evse.connectors.length > 1">Delete Last Connector</button>
                            </div>
                            <button class="sc-button" type="button" (click)="addEvse()">Add more EVSEs</button>
                            <button class="sc-button" (click)="deleteEvse()" *ngIf="evsesObject.evses.length > 1">Delete Last EVSE</button>
                          </div>

                        <div class="modal-steps" >
                          <button class="sc-button modal-button modal-button-success" (click)="previousStep()">Previous </button>
                          <!-- <button class="sc-button modal-button modal-button-success" (click)="nextStep()"
                           [disabled]="!(evsesObject.evses[0].evse_id &&
                                         evsesObject.evses[0].connectors[0].power_type &&
                                         evsesObject.evses[0].connectors[0].voltage &&
                                         evsesObject.evses[0].connectors[0].amperage)">
                              Next
                          </button> -->
                          <!-- <button class="sc-button modal-button modal-button-success" type="submit" [disabled]="!evsesForm.form.valid" (click)="nextStep()">Next</button> -->
                          <button class="sc-button modal-button modal-button-success" type="button" (click)="nextStep()">Next</button>
                        </div>
                      <!-- </form> -->
                      </div>

                      </div>

                      <div *ngIf="formStep === 'tariffs'">
                        <h2 class="modal-step-headline">Tariffs</h2>
                        <p> Tariffs define the price that an EV must pay to charge at your EVSEs and Connectors. Tariffs are
                          defined globally, which means that they can be applied to different stations of your Share&Charge
                          account. Select a tariff, if already available, or press edit tariffs to add more tariffs. </p>

                        <div *ngFor="let evse of evsesObject.evses; index as i;" class="modal-asign-tariff">
                            <p class="form-label">EVSE {{evse.evse_id}}</p>
                            <div>
                              <p class="form-label">Connectors</p>
                              <div *ngFor="let connector of evse.connectors; index as a">
                                  <span>ID {{connector.id}} </span>
                                  <!-- <span>{{connector.power_type}} </span> -->
                                  <!-- <span *ngIf="connector.power_type === 'AC_1_PHASE' || connector.power_type === 'DC'" class="kWh">
                                      {{connector.voltage * connector.amperage}} kWh
                                  </span>
                                  <span *ngIf="connector.power_type === 'AC_3_PHASE'" class="kWh">
                                      {{connector.voltage * connector.amperage * 1.73}} kWh
                                  </span> -->
                                  <select [(ngModel)]="connector.tariff_id">
                                    <option value="" selected disabled>Select Tariff</option>
                                    <option *ngFor="let tariffID of tariffObject; index as i;" value="{{tariffID.id}}">
                                      ID {{tariffID.id}}
                                    </option>
                                  </select>
                              </div>
                            </div>
                        </div>

                        <button class="sc-button" (click)="formStep = 'addTariffs'">Edit Tariffs</button>

                        <div class="modal-steps" >
                          <button class="sc-button modal-button modal-button-success" (click)="previousStep()">Previous </button>
                          <button class="sc-button modal-button modal-button-success" (click)="nextStep()">Next</button>
                        </div>
                      </div>

                      <div *ngIf="formStep === 'addTariffs'">
                          <h2 class="modal-step-headline">Edit Tariffs</h2>
                          <p>
                            Define the tariffs that your customers can choose from. <br>
                            Tariffs are defined globally, which means that they can be applied to different stations of your Share&Charge account.  <br>
                            A Tariff consists of a list of one or more price components, which can further be specified by choosing the tariff type, a price and a step size.  <br>
                            Further details about how to use the step size can be found <a href="https://github.com/ocpi/ocpi/blob/master/mod_tariffs.md">here</a>.
                          </p>


                          <div *ngFor="let tariff of tariffObject; index as e;" class="new-station-evse">
                                <p class="form-label">Tariff</p>
                                <div class="sc-input-wrapper">
                                  <input type="text" [(ngModel)]="tariff.currency" placeholder="Currency" class="sc-input-33">
                                  <select [(ngModel)]="tariff.currency" class="sc-input-33">
                                      <option value="" selected disabled>Currency</option>
                                      <option value="EUR">EUR</option>
                                      <option value="SEK">SEK</option>
                                      <option value="GBP">GBP</option>
                                      <option value="NOK">NOK</option>
                                      <option value="CHF">CHF</option>
                                      <option value="USD">USD</option>
                                      <option value="CZK">CZK</option>
                                      <option value="JPY">JPY</option>
                                      <option value="DKK">DKK</option>                                      
                                    </select>   
                                  <input type="text" [(ngModel)]="tariff.id" placeholder="ID" class="sc-input-33">
                                </div>

                                <p class="form-label">Price Components</p>
                                <div *ngFor="let tariffElement of tariff.elements; index as i;">
                                  <div *ngFor="let tariffComponent of tariffElement.price_components; index as a;">

                                      <div class="sc-input-wrapper">
                                        <select [(ngModel)]="tariffComponent.type" class="sc-input-33">
                                          <option value="" selected disabled>Tariff type</option>
                                          <option value="ENERGY">ENERGY</option>
                                          <option value="FLAT">FLAT</option>
                                          <option value="TIME">TIME</option>
                                        </select>
                                        <input type="number" [(ngModel)]="tariffComponent.price" placeholder="Price" class="sc-input-33">
                                        <input type="number" [(ngModel)]="tariffComponent.step_size" placeholder="Step Size" class="sc-input-33">

                                      </div>
                                    </div>
                                </div>
                                <button class="sc-button" (click)="addPriceComponent(e)">Add Price Component</button>
                                <button class="sc-button" (click)="deletePriceComponent(e)">Delete Last Price Component</button>
                              </div>
                              <button class="sc-button" (click)="addTariff()">Add Tariff</button>
                              <button class="sc-button" (click)="deleteTariff()">Delete Last Tariff</button>

                          <div class="modal-steps" >
                            <button class="sc-button modal-button modal-button-success" (click)="previousStep()">Previous </button>
                            <button class="sc-button modal-button modal-button-success" (click)="nextStep()">
                                    Next
                            </button>
                          </div>
                      </div>

                      <div *ngIf="formStep === 'stationSummary'">
                        <h2 class="modal-step-headline">Station Summary</h2>

                        <div>
                          <agm-map [latitude]="newStation.latitude" [longitude]="newStation.longitude" class="station-map">
                            <agm-marker [latitude]="newStation.latitude" [longitude]="newStation.longitude"></agm-marker>
                          </agm-map>

                          <div class="station-summary">
                              <div class="summary-item">
                                <span class="bold">Station name: </span>
                                <span>{{newStation.name}}</span>
                                <i class="far fa-edit" (click)="formStep = 'stationBaseInfo'"></i>
                              </div>
                              <div class="summary-item">
                                <span class="bold">Station ID: </span>
                                <span>{{newStation.id}}</span>
                                <i class="far fa-edit" (click)="formStep = 'stationBaseInfo'"></i>
                              </div>
                              <div class="summary-item">
                                <span class="bold">Address: </span>
                                <span>{{newStation.address}}</span>
                                <i class="far fa-edit" (click)="formStep = 'stationBaseInfo'"></i>
                              </div>
                              <div class="summary-item">
                                <span class="bold">City: </span>
                                <span>{{newStation.city}}</span>
                                <i class="far fa-edit" (click)="formStep = 'stationBaseInfo'"></i>
                              </div>
                              <div class="summary-item">
                                <span class="bold">Postal Code: </span>
                                <span>{{newStation.postalCode}}</span>
                                <i class="far fa-edit" (click)="formStep = 'stationBaseInfo'"></i>
                              </div>
                              <div class="summary-item">
                                <span class="bold">Country: </span>
                                <span>{{newStation.country}}</span>
                                <i class="far fa-edit" (click)="formStep = 'stationBaseInfo'"></i>
                              </div>
                              <div class="summary-item">
                                <span class="bold">Location: </span>
                                <span>{{newStation.latitude}}, {{newStation.longitude}}</span>
                                <i class="far fa-edit" (click)="formStep = 'stationBaseInfo'"></i>
                              </div>
                              <div class="summary-item">
                                <span class="bold">EVSEs (Connectors): </span>
                                <span *ngFor="let evse of evsesObject.evses; index as i;">
                                  <span>{{evse.evse_id}}</span> (
                                    <span *ngFor="let connector of evse.connectors; index as a;">
                                      <span>Connector {{a + 1}} </span>
                                      <span [hidden]="a === (evse.connectors.length - 1)">, </span>
                                    </span>
                                  )
                                  <span [hidden]="i === (evsesObject.evses.length - 1)">, </span>
                                </span>
                                <i class="far fa-edit" (click)="formStep = 'evsesAndConnectors'"></i>
                              </div>
                              <div class="summary-item">
                                <span class="bold">Tariffs: </span>
                                <span *ngFor="let tariffID of tariffObject; index as i">
                                  <span> ID {{tariffID.id}}</span>
                                  <span [hidden]="i === (tariffObject.length - 1)">, </span>
                                </span>
                                <i class="far fa-edit" (click)="formStep = 'tariffs'"></i>
                              </div>
                          </div>

                          <div class="modal-steps" >
                              <button class="sc-button modal-button modal-button-success" (click)="previousStep()">Previous </button>
                              <button class="sc-button modal-button modal-button-success" (click)="nextStep()">Add</button>
                          </div>
                        </div>

                      </div>

                      <div *ngIf="formStep === 'uploadJsonFile'">
                        <h2 class="modal-step-headline">Upload JSON</h2>
                        <p>
                          To add a new station, edit the values in the JSON.  <br>
                          You have to at least change ID, latitude and longitude. <br>
                          For more info about stations, visit <a href="https://github.com/ocpi/ocpi/blob/master/mod_locations.md#3-object-description">here</a>.
                        </p>
                        <textarea [(ngModel)]='modalInfo' class="json-textarea"></textarea>
                        <button class="sc-button" (click)="addStation()">Add</button>
                      </div>

                      <div *ngIf="formStep === 'pullDataFromBackend'">
                        <h2 class="modal-step-headline">Pull from Back End</h2>
                        <p>This section would call the back end and if succesfull, would redirect to the next one with the prepopulated info.</p>
                      </div>

                </div>
                <div class="modal-footer">
                  <button class="sc-button modal-button modal-button-cancel" (click)="showStationModal = false; resetStationsModal()">Cancel</button>
                  <button class="close" (click)="showStationModal = false; resetStationsModal()"></button>
              </div>
            </div>
        </div>
    </div>
</div>
